<div class="comment-form">
  <h2>Add a comment:</h2>
  <%= form_for([@post, @post.comments.build]) do |f| %>
  <p><%= image_tag current_user.avatar.url(:thumb) %> <%= current_user.username %></p>
    <%= f.hidden_field :commenter, :value => current_user.username %>
    <p>
      <%= cktext_area :page, :info, :cols => 40, :ckeditor => {:toolbar => 'mini'} %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>