<div class="comment-form">
	<%= form_tag(controller: "comments", action: "create", method: 'post', :post_id => @post.id) do |f| %>
		<div class="field">
			<%= label_tag :name, nil, class: "label" %>
      <p class="control">
        <%= text_field_tag :name, "", class: "input" %>
      </p>
		</div>

		<div class="field">
			<%= label_tag :email, nil, class: "label" %>
      <p class="control">
        <%= text_field_tag :email, "", class: "input" %>
      </p>
		</div>

		<div class="field">
			<%= label_tag :message, nil, class: "label" %>
      <p class="control">
        <%= text_area_tag :message, "", class: "input" %>
      </p>
		</div>

		<div class="divider"></div>

		<div class="text-center", style='margin-top: 10px;'>
			<%= submit_tag "Send It Away!", :class => "button is-primary" %>
		</div>
	<% end %>
</div>
