<h1>Sign Up</h1>

<h2>Why are there Users on this site?</h2>
<p>
  Here's the reailty of things: People are really stupid on the internet.<br>
  I voice a lot of opinions on this site, and sometimes it may not vibe too well with other people.
  That's the nature of opinions in general. We don't have to agree, but I do hope we can talk about it
  in a manner that does justice to the topic and others.<br>

  So, in an continuous process of attempts to making this site easier to use and we're asking that if you want
  to contriibute to the discussion, please register a profile of this site. We're eventually going to pave the way
  to link social media accounts as well. Promise. <br>
</p>

<h2>Form</h2>

<p><strong>All fields are required.</strong></p>
<div class="Sign-Up-Form">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
    <p class="button"><%= f.submit %></p>
  <% end %>
</div>