%h2
  Hi!
%h2
  My name is Taylor Jones, and I've been making really cool software since
  2011. I studied Computer Science at Auburn University and grabbed a minor in Business along
  the way. I'm currently working as a Software Developer at
  =link_to "MotionMobs", "https://motionmobs.com", target: "blank" 
  in Birmingham, AL.

.row
  .col-md-4
    %h3 Things I've Help Build
    %ul
      %li
        %h4= link_to "Alabama Outdoors", "https://alabamaoutdoors.com", target: "blank"
      %li
        %h4= link_to "My EMA App Promotional Site", "http://myemaapp.com", target: "blank"
      %li
        %h4= link_to "The Sheriff App", "http://thesheriffapp.com", target: "blank"
      %li
        %h4= link_to "This Website!", root_path
      %li
        %h4= link_to "Dave Harris Reality", "http://www.daveharrisrealty.com/", target: "blank"
      %li
        %h4= link_to "ARI Benefits", "http://aribenefits.com/", target: "blank"
  .col-md-4
    %h3 Frameworks I Use

    %ul
      %li
        %h4 Ruby on Rails (Ruby)
      %li
        %h4 Laravel (PHP)
      %li
        %h4 Wordpress (PHP)
      %li
        %h4 jQuery (Javascript)
  .col-md-4

    %h3 Languages I Use

    %ul
      %li
        %h4 Ruby
      %li
        %h4 PHP
      %li
        %h4 CSS, LESS, SASS
      %li
        %h4 Coffeescript, Javascript

%h2
  Even though my day job along with my family keep me incredibly busy, I still find time on
  to do a little bit of freelance consulting. If you're interested, please contact me at
  = link_to "taylorjonessoftware@gmail.com" , "mailto:taylorjonessoftware@gmail.com"
  No recruiting inquiries please.
