.about-page
  .row
    .col-sm-1
      %h4.pull-right >
    .col-sm-11
      %h4 cat about_taylor.txt

  .row
    .col-sm-1
      %h4.pull-right >
    .col-sm-11
      %h4
        Hi!
      %h4
        My name is Taylor Jones, and I've been making really cool software since
        2011. I studied Computer Science at Auburn University and grabbed a minor in Business along
        the way. I'm currently working as a Software Developer at
        =link_to "MotionMobs", "https://motionmobs.com", target: "blank"
        in Birmingham, AL.

      .row
        .col-md-4
          %h4 Things I've Help Build
          %ul
            %li
              %h4= link_to 'Dorm Decor.', 'http://dorm-decor.com/', target: 'blank'
            %li
              %h4= link_to "Alabama Outdoors", "https://alabamaoutdoors.com", target: "blank"
            %li
              %h4= link_to "My EMA App Promotional Site", "http://myemaapp.com", target: "blank"
            %li
              %h4= link_to "The Sheriff App", "http://thesheriffapp.com", target: "blank"
            %li
              %h4= link_to "This Website!", root_path
            %li
              %h4= link_to "Dave Harris Reality", "http://www.daveharrisrealty.com/", target: "blank"
            %li
              %h4= link_to "ARI Benefits", "http://aribenefits.com/", target: "blank"
        .col-md-4
          %h4 Frameworks I Use

          %ul
            %li
              %h4 Ruby on Rails (Ruby)
            %li
              %h4 Laravel (PHP)
            %li
              %h4 Wordpress (PHP)
            %li
              %h4 jQuery (Javascript)
            %li
              %h4 Docker (Python & Go)
        .col-md-4

          %h4 Languages I Use

          %ul
            %li
              %h4 Ruby
            %li
              %h4 PHP
            %li
              %h4 Go
            %li
              %h4 CSS, LESS, SASS
            %li
              %h4 Coffeescript, Javascript

  .row
    .col-sm-1
      %h4.pull-right >
    .col-sm-11
      %h4 cat about_this_site.txt

  .row
    .col-sm-1
      %h4.pull-right >
    .col-sm-11
      %h4
        I built this entire website from scratch using Ruby on Rails, Docker, Postgres, Bootstrap,
        and a few other tools. Its changed a lot over the years, but you can find open-source code
        on my
        = link_to 'Github page.', 'https://github.com/codedbeardedsignedtaylor', target: 'blank'
        Please check it out and tell me what you think! I'm eager for constructive criticism on
        how I develop and design!
      %h4
        It's been a really fun journey learning about all of the joys and pains that come with
        developing something like this from scratch. I've considered using other services such
        as Ghost and Squarespace, but something keeps drawing me back to the DIY ethic that this
        project has.

  .row
    .col-sm-1
      %h4.pull-right >
    .col-sm-11
      %h4 cat consulting_info.text

  .row
    .col-sm-1
      %h4.pull-right >
    .col-sm-11
      %h4
        Even though my day job along with my family keep me incredibly busy, I still find time on
        to do a little bit of freelance consulting. Here's some info about what I've been known to
        consult in:
      %h4
        If you're looking for a website, I'll most likely be able to fit you in. However, the timetable
        will depend on how busy my work and personal life is. Either way, I think we'll be able to
        figure some kind of deal out.

      %h4
        I've also been known to consult companies such as
        = link_to 'Nimblee Design', 'http://nimbleedesign.com/', target: 'blank'
        by helping their teams build more complex sites like
        = link_to 'Dorm Decor.', 'http://dorm-decor.com/', target: 'blank'
        I'm willing to join certain teams to help consult with projects. However, these
        instances are pretty rare. Despite this, I still encourage you to send any team-related inquiry aside
      %h4
        If you're interested, please contact me at
        = link_to "taylorjonessoftware@gmail.com" , "mailto:taylorjonessoftware@gmail.com"
