<div class="posts-index">
  <h1>Listing posts</h1>
 
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th colspan="3">Actions</th>
    </tr>
   
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post_path(post), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_post_path(post), :class => "btn btn-primary" %></td>
        <td><%= button_to 'Destroy', post_path(post), :class => "btn btn-danger",
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <!--%= link_to 'New Post', new_post_path %-->
  <%= button_to "New Post", new_post_path, :class => "btn btn-primary center-block", :method => :get %>

</div>

<div class="users-index">
  <h1>Listing Users</h1>
 
  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Role</th>
      <th>Sign In Count</th>
      <th colspan="3">Actions</th>
    </tr>
   
    <% @users.each do |user| %>
      <% if user != current_user %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td><%= user.role %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= link_to 'Delete', user_registration_path(user), :class => "btn btn-danger",
                method: :delete, data: { confirm: 'Are you sure?' }%></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="page-index">
  <h1>Listing Pages</h1>
 
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th colspan="3">Actions</th>
    </tr>
   
    <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= link_to 'Show', page_path(page), :class => "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_page_path(page), :class => "btn btn-primary" %></td>
          <td><%= link_to 'Delete', page_path(page), :class => "btn btn-danger",
                method: :delete, data: { confirm: 'Are you sure?' }%></td>
        </tr>
    <% end %>
  </table>

  <%= button_to "New Page", new_page_path, :class => "btn btn-primary center-block", :method => :get %>
</div>

<div class="inquiries-index">
  <h1>Listing Inquiries</h1>
 
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Need By</th>
      <th colspan="3">Actions</th>
    </tr>
   
    <% @inquiries.each do |inquiry| %>
        <tr>
          <td><%= inquiry.name %></td>
          <td><%= inquiry.company %></td>
          <td><%= inquiry.email %></td>
          <td><%= inquiry.phone %></td>
          <td><%= inquiry.finish_date %></td>
          <td><%= link_to 'Show', inquiry_path(inquiry), :class => "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_inquiry_path(inquiry), :class => "btn btn-primary" %></td>
          <td><%= link_to 'Delete', inquiry_path(inquiry), :class => "btn btn-danger",
                method: :delete, data: { confirm: 'Are you sure?' }%></td>
        </tr>
    <% end %>
  </table>
</div>