<div class="posts-index">
  <h1>Listing posts</h1>
 
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th class="actions">Actions</th>
    </tr>
   
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post_path(post) %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= button_to 'Destroy', post_path(post), :class => "btn btn-danger",
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <!--%= link_to 'New Post', new_post_path %-->
  <%= button_to "New Post", new_post_path, :class => "btn btn-primary center-block", :method => :get %>

</div>

<div class="posts-index">
  <h1>Listing Users</h1>
 
  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Role</th>
      <th>Sign In Count</th>
    </tr>
   
    <% @users.each do |user| %>
      <% if user != current_user %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td><%= user.role %></td>
          <td><%= user.sign_in_count %></td>
      <% end %>
    <% end %>
  </table>
</div>