<div class="most-recent">
	<% @posts.each do |post| %>
		<div class="post">
			<div class="text-center post-header">
				<%= link_to post.title, post_path(post), :class => "post-link" %>
				<% @time = post.created_at %>
				<h4 class="text-center">Written by <b>Taylor Jones</b> on <b><%= @time.strftime("%m/%d/%Y") %></b></h4>
			</div>
			<%= image_tag post.title_image.url(:full), :class => "img-responseive center-block" %>
			<div class="post-content center-block">
				<%= markdown post.text %>
			</div>
		</div>
	<% end %>
</div>

<div class="blog-btn text-center">
	<button type="button" class="btn btn-default">
		<%= link_to 'More Posts', blog_path %>
	</button>
</div>