<div class="page-form">
  <%= form_for @page, html: { multipart: true } do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
        <ul>
          <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= f.label :title %><br>
      <div class="control">
        <%= f.text_field :title, :class => 'input' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :navbar_visibility %><br>
      <div class="control">
        <%= form.select :navbar_visibility, [["Display in Navbar", "visible"], ["Hidden", "hidden"]] %>
      </div>
    </div>

    <div class="field">
      <%= f.label :content %><br>
      <div class="control">
        <%= f.text_area :content, :class => 'textarea', rows: 25 %>
      </div>
    </div>
   
    <div class="text-center">
      <%= f.submit class: "button is-primary" %>
    </div>
    
  <% end %>
</div>