<div class="page-form">
  <%= form_for @page, html: { multipart: true } do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
        <ul>
          <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :content %><br>
      <%= f.cktext_area :content, :class => 'ckeditor', :ckeditor => {:language => 'en'} %>
    </p>
   
    <div class="text-center">
      <%= f.submit class: "btn btn-primary" %>
    </div>
    
  <% end %>
</div>