<!DOCTYPE html>
<html>
  <head>
    <title>Hi, I'm Taylor Jones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font stuff -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body data-controller="sidebar">
    <div class="page-wrapper">
      <%= render 'layouts/v2/header' %>
      <div class="main-content container">
        <%= render 'layouts/v2/alerts' %>
        <div class="column wide-2"></div>
        <div class="column wide-6">
          <%= yield %>
        </div>
        <div class="column wide-2"></div>
      </div>
      <%= render 'layouts/v2/footer' %>
    </div>

    <aside class="sidebar" data-sidebar-target="panel">
      <button class="sidebar-close" data-action="sidebar#toggle" aria-label="Close menu">&times;</button>
      <ul class="sidebar-nav">
        <li><%= link_to "Posts", posts_path %></li>
      </ul>
    </aside>
  </body>
</html>
   