<div class="post-form">
  <%= form_for @post, html: { multipart: true } do |f| %>
    <% if @post.errors.any? %>
    <div id="error_exdivlanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tag_list %><br>
      <%= f.text_field :tag_list, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tagline %><br>
      <%= f.text_field :tagline, :class => 'form-control' %>
    </div>

    <div class="checkbox">
      <%= f.label :published do %>
        <%= f.check_box :published %>
        Published
      <% end %>
    </div>

    <div>
      <%= f.label :body %><br>
      <%= f.text_area :body, :class => 'form-control' %>
    </div>

    <div class="text-center">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
