<% @posts.each do |post| %>
	<div class="post-preview clearfix media">
		<%= image_tag post.title_image.url(:thumb), :class => "img-rounded pull-left" %>
		<h2><%= post.title %></h2>
		<h4><%= simple_format post.tagline %></h4>
		<br/>
		<div class="text-center">
			<button type="button" class="btn btn-default readmore">
				<%=link_to 'Read More', post_path(post) %>
			</button>
		</div>
	</div>
<% end %>
<div class="text-center">
	<%= will_paginate @posts, renderer: BootstrapPagination::Rails, class: "pagination-centered"%>
</div>