<div class="post">

	<div class="post-header">
		<div class="text-center">
			<h1><%= @post.title %></h1>
			<% @time = @post.created_at %>
			<h4>Written by <b>Taylor Jones</b> on <b><%= @time.strftime("%m/%d/%Y") %></b></h4>
		</div>
	</div>

	<div class="post-content center-block row">
		<%= markdown @post.body %>
	</div>
	<div class="tags text-center">
		<% @post.tag_list.each do |t|%>
			<%= button_tag t, class: 'btn btn-default tag' %>
		<% end %>
	</div>


	<div class="bottom-nav text-center">
		<% if admin_signed_in? %>
			<button type="button" class="btn btn-default"><%= link_to 'Edit Post', edit_post_path(@post) %></button>
		<% end %>
	</div>
</div>

<div class="comments-section">
	<% if @post.comments.blank? == false %>
		<h3 class="text-center">This Post Has Comments.</h3>

		<% approved_comments = @post.comments.where(approved: true) %>

		<% if approved_comments.blank? %>
			<h3 class="text-center">
				Unfortunately, responses to these comments are still being
				written. Please check back later!
			</h3>
		<% end %>

	<% end %>
</div>

<h3>Got Something To Say?</h4>
<h4>
	In my rebellion against the norms of web design, I've take a different approach towards
	commenting. It's very much of an expirment at the moment.
</h4>
<h4>If you're curious how our commenting works, take a look at <%= link_to 'this!', about_commenting_path %></h5>

<div class="comment-form">
	<%= form_tag(controller: "comments", action: "create", method: 'post', :post_id => @post.id) do |f| %>
		<div class="form-group">
			<%= label_tag :name %>
			<%= text_field_tag :name, "",:class => 'form-control'%>
		</div>

		<div class="form-group">
			<%= label_tag :email %>
			<%= text_field_tag :email, "",:class => 'form-control'%>
		</div>

		<%= hidden_field_tag :message %>
  	<trix-editor input="message"></trix-editor>

		<div class="text-center", style='margin-top: 10px;'>
			<%= submit_tag "Send My Regards To The Chef", :class => "btn btn-primary" %>
		</div>
	<% end %>
</div>
