<div class="post">

	<div class="post-header">
		<div class="text-center">
			<h1><%= @post.title %></h1>
			<% @time = @post.created_at %>
			<h4>Written by <b>Taylor Jones</b> on <b><%= @time.strftime("%m/%d/%Y") %></b></h4>
		</div>
	</div>

	<div class="post-content center-block row">
		<%= markdown @post.body %>
	</div>
	<div class="tags text-center">
		<% @post.tag_list.each do |t|%>
			<%= button_tag t, class: 'btn btn-default tag' %>
		<% end %>
	</div>


	<div class="bottom-nav text-center">
		<% if admin_signed_in? %>
			<button type="button" class="btn btn-default"><%= link_to 'Edit Post', edit_post_path(@post) %></button>
		<% end %>
	</div>
</div>
