<div class="post content">
	<div class="post-header">
		<div class="has-text-centered">
			<h1><%= @post.title %></h1>
			<h4>Written by <b>Taylor Jones</b> on <b><%= @post.created_at.strftime("%m/%d/%Y") %></b></h4>
		</div>
	</div>

	<div class="post-content center-block row">
		<%= markdown @post.body %>
	</div>
	<div class="tags text-center">
		<% @post.tag_list.each do |t|%>
			<%= button_tag t, class: 'button' %>
		<% end %>
	</div>


	<div class="bottom-nav has-text-centered">
		<% if admin_signed_in? %>
			<br />
			<%= link_to 'Edit Post', edit_post_path(@post), class: "button" %>
		<% end %>
	</div>
</div>

<div class="comments-section">
	<% if @post.comments.present? %>
		<h3 class="text-center">This Post Has Comments.</h3>

		<% approved_comments = @post.comments.where(approved: true) %>

		<% if approved_comments.blank? %>
			<h3 class="text-center">
				Unfortunately, responses to these comments are still being
				written. Please check back later!
			</h3>
		<% else %>
			<% approved_comments.each do |comment| %>
				<div class="columns">
					<div class="column">
						<h3><%= comment.name %> on <%= comment.created_at.strftime('%m/%d/%y') %></h3>
						<h4><%= comment.message.html_safe %></h4>
					</div>
				</div>
				<% if comment.response %>
					<div class="row">
						<div class="column">
							<h3> Staff on <%= comment.response.created_at.strftime('%m/%d/%y') %></h3>
							<h4><%= comment.response.message.html_safe %></h4>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>

<div class="content-divider"></div>

<div class="comment-section">
	<% if @post.commenting_enabled? %>
		<h3>Got Something To Say?</h4>
		<h4>Let us know!</h4>
		<%= render "posts/comments/reader_form" %>
	<% else %>
		<p><b>We're Currently Not Fielding Conversation Around This Post Right Now</b></p>
		<p>Check back later if you're interested in contributing to the conversation.</p>
		<p>You can always tweet at <b><%= link_to "@hiimtaylorjones", "https://twitter.com/hiimtaylorjones" %></b> if you're really got something burning to say!</p>
	<% end %>
</div>