<!DOCTYPE html>
<html>
  <head>
    <title>Everything Is Collateral </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/zenburn.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <%= csrf_meta_tags %>
    <%= render 'layouts/partials/shim' %>
  </head>

  <%= render 'layouts/partials/header' %>

  <body>
    <div class="container-fluid content">
      <!--Used to notify the user of errors-->
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= render '/devise/sessions/newpopup' %>
    
      <!--Yields all of the stuff you know and love.-->
      <%= yield %>
     
      <%= render 'layouts/partials/footer' %>
    </div>
  </body>
</html>
